@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

html {
    background-color: rgb(90, 90, 90);
    font-family: 'Reddit Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
}
